<launch>
<!--argumentos para possivel Joy-->
<arg name="nome_stick" default="Logitech Logitech Attack 3"/>
<arg name="porta" default="/dev/input/js0"/>

<!--argumentos para automatico ou nao, motor ou nao-->
<arg name="automatico" default="true"/>
<arg name="motores"    default="true"/>

<!--comecar o no que eu quero-->
<group if="$(arg motores)">
  <include file="$(find dynamixel_workbench_controllers)/launch/multi_port.launch">
  </include>
</group>

<!--lancar sempre a placa, pois ai com automatico ou joy sempre funciona a parte do rustbot-->
<include file="$(find mavros)/launch/px4.launch">
</include>

<group if="$(arg automatico)">
<!--  Aqui chamar pelo rustbot para condizer com a visao stereo-->
<!--  <include file="$(find rustbot_bringup)/launch/gps.launch">-->
  <node name="controle_automatico" pkg="automatico_mrs" type="controle_automatico" output="screen">
  </node>
</group>

<!--caso queiramos o joystick-->
<group unless="$(arg automatico)">
  <node name="joy_supercool" pkg="joy" type="joy_node" output="screen">
  </node>
  <node name="escutadeiro" pkg="joy" type="escutadeiro_node" output="screen">
  </node>
</group>

</launch>
